body{
    padding: 1px;
}

@font-face {
    font-family: "Teko-SemiBold";
    src: url("../fuentes/Teko-SemiBold.ttf");
}

@font-face {
    font-family:"Teko-Light";
    src: url("../fuentes/Teko-Light.ttf");
}
/*Dashboard Comprador*/
.navbar{
    background-color: black !important;
}
.container-fluid a {
    font-family: "Teko-SemiBold";
    font-size: 25px;
}
.container-fluid button{
    font-family: "Teko-SemiBold";
    font-size: 25px;
}
.cont-nav-img{
    margin-right: 3%;
    margin-left: 1%;
}
.nav-img{
    width: 7rem;
    height: 2rem;
}
.dropdown-item:active {
    background-color: rgba(195, 21, 21, 0.644);
}

.nav-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.nav-icon:hover{
    width: 2.8rem;
    height: 2.8rem;
}
.cont-table{
    padding: 20px;
    justify-content: center;
    margin: 20px;
    align-items: center;
}
/*menu de usuario*/
.dropdown-menu a {
    font-family: "Teko-Light" ;
    font-size: 25px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover{
    color: rgb(197, 5, 5);
}

.modal-dialog{
    background-color: rgb(83, 83, 83);
    padding: 10px;
    border-radius: 5px;
}
.modal-content{
    border-color: rgb(83, 83, 83);
    border-top-right-radius: 300px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    background-color: rgb(83, 83, 83);

}

@font-face {
    font-family: "Teko-SemiBold";
    src: url("../fuentes/Teko-SemiBold.ttf");
}
.modal-title{
    font-family:"Teko-SemiBold";
}
.modal-body{
    background-color: rgba(217, 217, 217, 1);
    border-bottom-right-radius: 135px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 200px;
}
.Datos-Usuario{
    margin-left: 15%;
}
#input-color{
    border: none;
}
.Datos-Usuario label{
    display: block;
    padding: 5px;
}
.Datos-Usuario input{
   border: none;
   border-bottom: 2px solid;
   background: none;
   width: 50%;
}

.btn-cancelar{
    background-color:rgba(206, 28, 28, 1);
    color: white;
    border: none;
    border-radius: 20px;
    font-family:"Teko-Light";
    margin-left: 15%;
    width: 100px;
}
.btn-registrar{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-family:"Teko-Light";
    width: 100px;
    margin-top: 10%;
}
/*fin de menu-usuario*/
.btn-registrarAuto{
    background-color: rgba(195, 21, 21, 0.811);
    color: white;
    font-family:"Teko-Light";
    font-size: 25px;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
    bottom: 0;
    justify-content: center;
    padding: 5px;
}
.offcanvas{
    background-color: rgb(83, 83, 83);
}
.offcanvas-title{
    font-family:'Teko-SemiBold';
}
.form-range::-webkit-slider-thumb {
    background-color: red;
}
.offcanvas ul li{
    list-style: none;
}
.offcanvas label{
    color: black;
    font-size: 20px;
    font-weight:600;
}
.offcanvas button{
    border-radius: 10spx;
    background-color: black;
    color: white;
    margin-top: 10px;
}
/*Footer*/
.footer-dashboard{
    background-color: black;
    color:white;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
