.modal-dialog{
    background-color: rgb(83, 83, 83);
    padding: 10px;
    border-radius: 5px;
}
.modal-content{
    border-color: rgb(83, 83, 83);
    border-top-right-radius: 300px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    background-color: rgb(83, 83, 83);

}

@font-face {
    font-family: "Teko-SemiBold";
    src: url("../fuentes/Teko-SemiBold.ttf");
}
.modal-title{
    font-family:"Teko-SemiBold";
}
.modal-body{
    background-color: rgba(217, 217, 217, 1);
    border-bottom-right-radius: 135px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 200px;
}
.Datos-Usuario{
    margin-left: 15%;
}
#input-color{
    border: none;
}
.Datos-Usuario label{
    display: block;
    padding: 5px;
}
.Datos-Usuario input{
   border: none;
   border-bottom: 2px solid;
   background: none;
   width: 50%;
}


@font-face {
    font-family: "Teko-Light";
    src: url("../fuentes/Teko-Light.ttf");
}
.btn-cancelar{
    background-color:rgba(206, 28, 28, 1);
    color: white;
    border: none;
    border-radius: 20px;
    font-family:"Teko-Light";
    margin-left: 15%;
    width: 100px;
}
.btn-registrar{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-family:"Teko-Light";
    width: 100px;
    margin-top: 10%;
}